
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
	border-radius: 20px;
}

body {
	background: #d2d2d2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	/* height: 100vh; */
	/* margin: 10px 0 0px; */
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
    color: #00000;
    font-size: 40px;
    font-family: 'Georgia'
}

h3 {
  text-align: center;
  color: #fff;
  font-family: 'Georgia', sans-serif;
  /*font-family: "Verdana", sans-serif;*/
  font-size: 20px;
  padding: 0px;
  }

.title {
    
    text-align: center;
    color: #EB0A91;
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
    font-family: 'ZCOOL XiaoWei', serif;
}

button {
	border-radius: 15px;
	border: 1px solid #EB0A91;
	background-color: #EB0A91;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 25px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	margin-left: 10em;
	width: 40%;
}

.containerbuttons {
	align-items: center;
	margin-left: 6em;
}

.containerbuttons1 {
	padding: 10px 15px;
	align-items: center;
	margin-left: 5.5rem;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
}

input {
	background-color: #eee;
	padding: 8px 15px;
	width: 60%;
	text-align: center;
}

.container {
	background-color: #3FA0A8;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 400px;
	max-width: 100%;
	min-height: 430px;
	display: block;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #3FA0A8;
	background: -webkit-linear-gradient(to right, #3FA0A8, #3FA0A8);
	background: linear-gradient(to right, #3FA0A8, #3FA0A8);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

