
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
	border-radius: 20px;
}

body {
	background: #bdbdbd;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: auto;
}

h1 {
	text-align: center;
    color: #000;
    font-size: 45px;
    font-family: 'Georgia';
	font-weight: bold;
	padding: 25px 0px 0px 10px;
}

h2 {
	color: #fff;
	text-align: center;
	font-family: 'roboto';
	font-size: 30px;
	padding: 20px 0px 0px 0px;
	margin: 0;
}

h3 {
 	text-align: center;
 	color: rgb(255, 250, 120);
	font-family: 'roboto', sans-serif;
	font-size: 30px;
}

h4 {
	text-align: center;
    color: #000;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
}

h5 {
	color: #fff;
	text-align: center;
	font-family: 'roboto';
	padding: 0px 0px 60px;
	margin: auto;
}

input {
	background-color: #eee;
	padding: 8px 15px;
	width: 60%;
	text-align: center;
}

td {
	height: 30px;
	width: 160px;
	text-align: center;
	vertical-align: middle;
  }

.pie {
	border: none;
	padding: 0px 120px;
}

.container, .container2, .container3 {
	background-color: #3FA0A8;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	width: 580px;
	margin: 3%;
}

.button{
	border-radius: 15px;
	border: 1px solid #EB0A91;
	background-color: #EB0A91;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	padding: 12px 50px;
	letter-spacing: 1px;
	text-transform: uppercase;
	align-content: center;
}

.tokenButton{
	border-radius: 15px;
	border: 1px solid #EB0A91;
	background-color: #EB0A91;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	padding: 12px 50px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'roboto';
	margin: 0px 41px;
}

.button:hover {
	background-color: #c51880;
}

.tokenButton:hover {
	background-color: #c51880;
}

.containerbuttons {
	align-items: center;
	margin-left: 9em;
}

.containerbuttons1 {
	padding: 10px 15px;
	align-items: center;
}

