
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
	border-radius: 20px;
}

body {
	background: #bdbdbd;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	text-align: center;
    color: #000;
    font-size: 45px;
    font-family: 'Georgia';
	font-weight: bold;
	padding: 25px 0px 0px 10px;
}

h2 {
	color: #fff;
	text-align: center;
	font-family: 'roboto';
	font-size: 30px;
	padding: 40px 0px 0px 0px;
	margin: 0;
}

h3 {
 	text-align: center;
 	color: rgb(255, 250, 120);
	font-family: 'roboto', sans-serif;
	font-size: 30px;
}

h5 {
	color: #fff;
	text-align: center;
	font-size: 30px;
	padding: 40px 50px 50px 50px;
	margin: 0;
}

.pie {
	border: none;
	padding: 0px 23px;
}

h4 {
	text-align: center;
    color: #000;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
}

.container {
	background-color: #3FA0A8;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 400px;
	max-width: 100%;
	min-height: 495px;
	display: block;
}

.containerbuttons {
	align-items: center;
	margin-left: 6em;
}

.containerbuttons1 {
	padding: 10px 15px;
	align-items: center;
}

input {
	background-color: #eee;
	padding: 8px 15px;
	width: 60%;
	text-align: center;
}

button {
	border-radius: 15px;
	border: 1px solid #EB0A91;
	background-color: #EB0A91;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	padding: 12px 25px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	width: 15%;
}

td {
  height: 30px;
  width: 160px;
  text-align: center;
  vertical-align: middle;
}

.button2 {
	border-radius: 15px;
	border: 1px solid #EB0A91;
	background-color: #EB0A91;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	padding: 12px 25px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	width: 30%;
}
